{% extends 'rango/base.html' %}
    <head>
        <title>Rango</title>
    </head>

    <body>
    
    		{% if user.is_authenticated %}
			<a href="/rango/restricted/">Restricted Page</a><br />
			<a href="/rango/logout/">Logout</a><br />
			{% else %}
			<a href="/rango/register/">Register Here</a><br />
			<a href="/rango/login/">Login</a><br />
			{% endif %}
        <h1>Add a Category</h1>

        <form id="category_form" method="post" action="/rango/add_category/">

            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
            {% endfor %}

            <input type="submit" name="submit" value="Create Category" />
        </form>
    </body>